{{photo-list photos=photos selectPhoto="selectPhoto"}}

<ul>
  <li>{{#link-to 'image-service.photo.properties'}}properties{{/link-to}}</li>
  <li>{{#link-to 'image-service.photo.crops'}}crops{{/link-to}}</li>
</ul>

{{outlet}}
